@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    text-align: center;
    margin: 0;
    list-style: none;
}

:root {
    --color-azul-600: hsl(240, 10%, 8%);
    --color-azul-600-80: hsl(240, 10%, 8%, 80%);
    --color-azul-500: hsl(231, 13%, 11%);
    --color-azul-400: hsl(225, 11%, 15%);
    --color-azul-300: hsl(218, 25%, 37%);
    --color-gris-medio: hsl(226, 17%, 71%);
    --color-base: hsl(55, 55%, 91%);
    --color-azul-acento: hsl(208, 70%, 64%);

    --bkn-nav: hsl(218, 25%, 37%, .2);
    --bkn-nav-noblur: hsl(231, 13%, 11%, .80);

    --bkn-gallery: hsl(218, 25%, 37%, .4);
}

body{
    background-color: var(--color-azul-600);
    color: var(--color-base);
    
    
}

.buscar {
    margin: 10px;
}

header img {
    padding-top: 30px;
    
}
header {
    margin: 20px;
}

header ul {
    padding: 0;
    padding-top: 15px;
}

header li {
    list-style: none;
    display: block;
    padding-bottom: 15px;
    
}

header img {
    width: 250px;
    display: flex;
}

/* BOTON DE NAV*/
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 4.7em;
    right: 2.5em;
    z-index: 9999;
    background-image: url(img/menu_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2em;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;   
}

/*Selector avanzado*/
.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(img/menu_close.svg);
}


/*-------------------------------------------------*/

/* BARRA DE NAVEGACION*/

.nav-principal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    z-index: 1;

    background-color: var(--bkn-nav-noblur);
    
    padding: min(20vh, 8em) 0;  

    transform: translateX(100%);
    
}

.nav-principal[data-visible="true"] {
    transform: translateX(0%);
}






nav li {
    
    margin: min(10vh, 4em) 0;
}

nav a:link {
    color: var(--color-base);
}

nav a:visited {
    color: var(--color-base);
}

nav a:hover {
    color: var(--color-azul-acento)
}

nav a:active {
    color: var(--bkn-gallery)
}

/* ------------------------------------------------------*/

main {
    width: min(1200px, 100%);
    margin: 0 auto;
}

#bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    margin: 0 auto;


    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
    )
    ,url(img/bienvenida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    
}

#bienvenidatitulo {
    font-weight: 600;
    font-size: 35px;
}

#novedades h1 {
    margin: 35px;
    font-size: 35px;

}

#libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    
}

h2, h3 {
    font-size: clamp(1em, 2vw, 1.5em);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin: 15px;
}


article a {
    margin: 25px;
    padding: 8px 10px;
    font-weight: 500;
    font-size: 15px;


   
    border: 1px solid var(--color-azul-acento);
    border-radius: 15px;
    color: var(--color-base);
}

article a:link, article a:visited {
    background-color: var(--color-azul-acento);
    color: black;
    
    
}


article a:hover, article a:active{
    background-color: var(--color-azul-500);
    color: var(--color-azul-acento);
   
}



footer {
    background-color: var(--color-azul-500);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
   

}

footer ul {
    padding-left: 0;
}

footer li {
    line-height: 2;
    
}
.redes li {
    display: inline-block;
    margin: 10px;
}


footer a:visited {
    color: var(--color-azul-acento);
}
footer a:hover {
    color: var(--color-base);
}


@media screen and (min-width: 480px) {

    header img {
        margin: 0 auto;


    }

    nav {
        position: static;
        display: inline;
        padding: 0;
    }
    
    nav li {
        display: inline;
        margin: 10px;

    }

    #libros {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
    }

}

